@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply bg-black text-white relative font-sans h-screen overflow-hidden
    }
}

@layer components {
    .introducing-container {
        position: absolute;
        inset: 0 0 0 0;
        z-index: -1;
        border-radius: 20px;
        background: linear-gradient(45deg, #9657de, #383abe, #389ec9,#5248c4, #9657de);
    }
    .contact-btn {
        box-shadow: inset 4px 4px 7px rgba(24, 29, 20, 0.25);
        transition-duration: 0.3s;
    }
    .contact-btn:hover {
box-shadow: inset 0px 10px 20px rgba(85, 68, 158, 0.7);

    }
}

@layer utilities {
    .bg-gradient-radical {
        background-image: radial-gradient(circle at 50% 70%, var(--tw-gradient-stops));
    }
}